#########
# common
#########
.DS_Store
mongodb
node_modules
package.json
.env
.vscode
.eslintrc.json
.prettierrc
.jest.config.js
.babelrc
.sequelizerc
dist-server/*
logs
logs/*

#########
# client
#########

#########
# nginx
#########
nginx
nginx/*

#########
# server
#########

#########
# dir
#########
# database
# database/*
# migrations
# migrations/*
# seeders
# seeders/*
# coverage/
# coverage/*
